.banner {
  margin-bottom: 23px;
}

h4 {
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  color: #333333;
}

.subtitle {
  font-family: Arial;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #333333;
  margin-bottom: 0;
}

