.nav-list-stacked, .nav-list {
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  padding-left: 25px;
  margin-top: 0;
  .nav-item {

    a {
      color: #333;
      opacity: 0.6;

      &:active,
      &.active {
        opacity: 1.0;
        color: #333;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.nav-list {
  padding-left: 0;
  li {
    display: inline-block;
    margin: 0 32px 10px 0;
  }
}
