.customer-nav-row {
  height: 72px;

  .customer-icon {
    display: inline-block;
    width: 45px;
  }

  .customer-info {
    display: inline-block;
    width: 295px;
    padding: 15px 0;

    .customer-name {
      font-weight: bold;
    }

    .customer-subtitle {
      color: #bcbcbc;
    }
  }
}
